
html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Full size background image from: http://css-tricks.com/perfect-full-page-background-image/ */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.page-wrapper {
  position: relative;
}

.title {
  color: #FFF;
}

nav {
  width: 640px;
  height: 50px;
  margin: 100px auto;
}

nav a {
  display: block;
  float: left;
  color: #FFF;
  margin: .5em;
  padding: 0;
  font-family: "pointy_demoregular";
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

article {
  margin: 15px;
  color: #FFF;
}

article h1 {
  color: #FFF;
}

footer h3 {
  color: #FFF;
  text-align: center;
  font-family: "pointy_demoregular";
}

article {
  display: none;
}

article.active {
  display: block;
}

.main {
  width: 560px;
  margin: 125px auto;
}

#home h1,
#home h2 {
  font-family: "pointy_demoregular";
  color: #FFF;
  font-weight: normal;
}

#home h1 {
  font-size: 102px;
  text-align: center;
  line-height: 86px;
  margin-bottom: 40px;
}

#home h2 {
  font-size: 40px;
  text-align: center;
}

#trailer {
  width: 560px;
  margin: 0 auto;
}


@font-face {
  font-family: 'pointy_demoregular';
  src: url('../fonts/pointy_demo-webfont.eot');
  src: url('../fonts/pointy_demo-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pointy_demo-webfont.woff') format('woff'),
       url('../fonts/pointy_demo-webfont.ttf') format('truetype'),
       url('../fonts/pointy_demo-webfont.svg#pointy_demoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
