
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Full size background image from: http://css-tricks.com/perfect-full-page-background-image/ */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.page-wrapper {
  position: relative;
  width: 680px;
  margin: 0 auto;
}

div.content {
  background-color: #FFF;
  color: #000;
  padding: 15px;
  display: none;
  font-family: georgia, times, serif;
  font-size: 19px;
  line-height: 29.75px;
  border-radius: 2px;
}

div#home.content {
  height: 200px;
  background-color: transparent;
}

div.content.active {
  display: block;
}

  div.content h3 {
    margin-top: 5px;
  }

div#donate h4 {
  text-align: center;
}

nav {
  height: 29px;
  margin: 95px 0 100px 0;
}

  nav ul {
    padding: 0;
  }

    nav li {
      display: block;
      float: left;
      text-align: center;
      margin: 0 6px;
      background-color: transparent;
      border-radius: 3px;
      cursor: pointer;
    }

      nav a {
        width: 100px;
        height: 38px;
        text-indent: -9999px;
        direction: ltr;
        text-decoration: none;
        display: block;
      }

    .nav-home { background-image: url(/img/home.png); }
    .nav-home:hover { background-image: url(/img/home-hover.png); }
    .nav-trailer { background-image: url(/img/trailer.png); }
    .nav-trailer:hover { background-image: url(/img/trailer-hover.png); }
    .nav-contact { background-image: url(/img/contact.png); }
    .nav-contact:hover { background-image: url(/img/contact-hover.png); }
    .nav-donate { background-image: url(/img/donate.png); }
    .nav-donate:hover { background-image: url(/img/donate-hover.png); }
    .nav-about { background-image: url(/img/about.png); }
    .nav-about:hover { background-image: url(/img/about-hover.png); }
    .nav-blog { background-image: url(/img/blog.png); }
    .nav-blog:hover { background-image: url(/img/blog-hover.png); }
    .nav-support { background-image: url(/img/support.png); }
    .nav-support:hover { background-image: url(/img/support-hover.png); }
    .nav-thanks { background-image: url(/img/thanks.png); }
    .nav-thanks:hover { background-image: url(/img/thanks-hover.png); }
    .nav-store { background-image: url(/img/store.png); }
    .nav-store:hover { background-image: url(/img/store-hover.png); }
    .nav-kickstarter { background-image: url(/img/kickstarter.png); }
    .nav-kickstarter:hover { background-image: url(/img/kickstarter-hover.png); }

@media screen and (max-width: 600px) {
  .page-wrapper {
    width: 100%;
  }

  nav {
    margin: 0;
    height: auto;
  }

  nav li {
    float: none;
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    background-color: white;
  }

    nav li a {
      display: block;
      background: none !important;
      color: black;
      text-indent: 0;
      text-align: center;
      width: 100%;
      line-height: 38px;
    }

  div.content {
    display: block;
    margin-bottom: 25px;
  }

  #home {
    display: none;
  }
}

/* Needed for Firefox */
.wufoo-form-container {
  height: 447px;
}

#social {
  margin: 20px;
  text-align: center;
}

#social .twitter {
  display: inline-block;
  position: relative;
  top: 4px;
}

#thanks h2, #thanks h4, #thanks h5, #thanks h6 {
  text-align: center;
}

#thanks h4 {
  font-size: 16px;
}

#thanks h5 {
  font-size: 18px;
  text-decoration: underline;
}

#thanks ul.producers {
  list-style: none;
  padding: 0;
  text-align: center;
}

#thanks ul.producers li {
  display: inline-block;
  padding-right: 25px;
  font-size: 14px;
}

#thanks ul.others {
  list-style: none;
  padding: 0;
  width: 32%;
  display: inline-block;
  margin-top: 0;
}

#thanks ul.others li {
  font-size: 14px;
  line-height: 18px;
}

.coming-soon {
  font-size: 34px;
  text-align: center;
  padding: 100px 0 100px 0;
}
